# OS
.DS_Store

# Editor
.vscode/
.idea/
*.swp
*.swo

# Python/Ansible
__pycache__/
*.pyc

# Logs
*.log

# Docker
*.pid
*.sock

# Secrets
vault-pass.txt

# SSL Keys
roles/nginx/files/certs/selfsigned.crt
roles/nginx/files/certs/selfsigned.key

# Archives
*.zip
